---
# Build smartctl_exporter and push to GHCR.
name: Build smartctl_exporter container

on:
  push:
    branches: [main]
    paths:
      - "smartctl_exporter/**"
      - ".github/workflows/build-smartctl.yml"
      - ".github/workflows/build-and-push-image.yml"

jobs:
  build:
    name: Build smartctl_exporter image
    uses: ./.github/workflows/build-and-push-image.yml
    permissions:
      contents: read
      packages: write
    with:
      image-name: smartctl_exporter
