---
# Build openSUSE images and push to GHCR.
name: Build openSUSE container

on:
  push:
    paths:
      - "opensuse-base/**"
      - ".github/workflows/build-opensuse-base.yml"
      - ".github/workflows/build-and-push-image.yml"

jobs:
  build-base:
    name: Build openSUSE base image
    uses: ./.github/workflows/build-and-push-image.yml
    permissions:
      contents: read
      packages: write
    with:
      image-name: opensuse-base
      image-type: base

  build-dev:
    name: Build openSUSE dev image
    uses: ./.github/workflows/build-and-push-image.yml
    permissions:
      contents: read
      packages: write
    with:
      image-name: opensuse-base
      image-type: dev
